{% extends "_base.html.jinja2" %}
{% block title %}Unit 2: Loops & Lists{% endblock %}
{% block content %}
<h1>Unit 2: Loops & Lists</h1>
<p>Welcome to the second unit of this course! Don't worry if your mind is a little bit blown, learning programming can be like that. 🤯 Just keep at it, and reach out to the community when you need help.</p>
<p>Our learning goals for this unit are:</p>
<ul><li><p>Loops</p></li>
<li><p>Ranges</p></li>
<li><p>Lists</p></li>
<li><p>List mutation</p></li>
<li><p>Nested lists</p></li></ul>
<p>At the end, you'll use your newfound knowledge to build a bunch of photo filters, like grayscale and inversion, and apply them to whatever photo you'd like.</p>
<section class="next-step">
    ➡️ Next up: <a href="/2-loops-&-lists/1-while-loops.html">While Loops</a>
</section>
{% endblock %}
