{% extends "_base.html.jinja2" %}
{% block title %}Loops and lists{% endblock %}
{% block content %}
<h1>Exercise: Loops and lists</h1>
<p>Practice lists and loops in this set of exercises. A few of them have comments to guide you towards a solution; you can follow those comments if they help or delete them and start from scratch. Whatever works for you!</p>
<h2>Make point</h2>
<p>Implement <code>make_point</code>, a function that returns a list with the two arguments <code>x</code> and <code>y</code>, each rounded to integer values.</p>
<p>Tip: Remember one of Python's <a target="_blank" href="https://docs.python.org/3/library/functions.html">built-in functions</a> makes it easy to round numbers.</p>
<p>📺 Need help getting started? Watch me go through a similar problem <a target="_blank" href="https://youtu.be/Tfqj1b3wBNg">in this video</a>.</p>
<code-exercise-element name="make-point" show-tests>def make_point(x, y):
  """Returns a list with the two arguments, rounded to their integer values.
  
  >>> make_point(30, 75)
  [30, 75]
  >>> make_point(-1, -2)
  [-1, -2]
  >>> make_point(12.32, 74.11)
  [12, 74]
  """
  return []</code-exercise-element>
<h2>Average scores</h2>
<p>Implement <code>average_scores</code>, a function that returns the average of the provided list <code>scores</code>.</p>
<p>📺 Need help getting started? Watch me go through a similar problem <a target="_blank" href="https://youtu.be/mwnyHpdiGSc">in this video.</a></p>
<p> 🧩 Or, for more guidance in written form, try a <a target="_blank" href="https://pamelafox.github.io/faded-parsons-static/problem.html?name=average_scores">Parsons Puzzle version</a> first.</p>
<code-exercise-element name="average-scores" show-tests>def average_scores(scores):
  """Returns the average of the provided scores.
  
  >>> average_scores([10, 20])
  15.0
  >>> average_scores([90, 80, 70])
  80.0
  >>> average_scores([8.9, 7.2])
  8.05
  """
  # Initialize a variable to 0
  # Iterate through the scores
      # Add each score to the variable
  # Divide the variable by the number of scores
  # Return the result</code-exercise-element>
<h2>Concatenator</h2>
<p>Implement <code>concatenator</code>, a function that returns a string made up of all the strings from the provided list <code>items</code>.</p>
<p><em>(There is a way to do this with a single function call in Python, but for the purposes of this exercise, please try using a for loop to join the strings.)</em></p>
<p>🧩 For more guidance, try a <a target="_blank" href="https://pamelafox.github.io/faded-parsons-static/problem.html?name=concatenator">Parsons Puzzle version</a> first.</p>
<code-exercise-element name="concatenator" show-tests>def concatenator(items):
  """Returns a string with all the contents of the list concatenated together.

  >>> concatenator(["Super", "cali", "fragilistic", "expialidocious"])
  'Supercalifragilisticexpialidocious'
  >>> concatenator(["finger", "spitzen", "gefühl"])
  'fingerspitzengefühl'
  >>> concatenator(["none", "the", "less"])
  'nonetheless'
  """
  # Initialize a variable to empty string
  # Iterate through the list
    # Concatenate each item to the variable
  # Return the variable</code-exercise-element>

<section class="next-step">
    ➡️ Next up: <a href="/2-loops-&-lists/7-list-mutation.html">List mutation</a>
</section>
{% endblock %}
{% block footer_scripts %}
<script src="https://cdn.jsdelivr.net/npm/python-code-exercise-element@0.1.10/dist/code-exercise.umd.min.js"></script>
{% endblock %}
