{% extends "_base.html.jinja2" %}
{% block title %}Lectures{% endblock %}
{% block content %}

<h1>Lectures</h1>

<p>If you are a teacher using this course for a classroom or online setting, you may find these lecture slides helpful.</p>

<p>
  Each lecture should take about 1 hour to present.
  The unit lectures cover at least the first topics in a unit, but don't always cover all the topics in the unit,
  as students are expected to work through the rest of the unit on their own.
  The bonus lectures cover additional topics that are not covered in the articles.
</p>

<p>The slides are written in HTML/CSS using <a target="_blank" href="https://revealjs.com/">Reveal.JS</a>, so that they can be viewed in a web browser.
  Download the original ones from the <a target="_blank" href="https://github.com/pamelafox/proficient-python">GitHub repository</a>
  if you'd like to edit them.
</p>

<ul>
    <li><a target="_blank" href="unit1.html">Unit 1: Expressions & functions</a>
    <li><a target="_blank" href="debugging.html">Bonus topic: Debugging</a>
    <li><a target="_blank" href="unit2.html">Unit 2: Loops & Lists</a>
    <li><a target="_blank" href="testing.html">Bonus topic: Testing</a>
    <li><a target="_blank" href="unit3.html">Unit 3: Strings & Dictionaries</a>
    <li><a target="_blank" href="unit4.html">Unit 4: Object Oriented Programming</a>
    <li><a target="_blank" href="workflow.html">Bonus topic: Workflow</a>
</ul>

{% endblock %}