{% extends "_base.html.jinja2" %}
{% block title %}Unit 3: Strings & Dictionaries{% endblock %}
{% block content %}
<h1>Unit 3: Strings & Dictionaries</h1>
<p>It's your third unit of learning Python! We're going to be covering some of my personal favorite topics in this unit.</p>
<p>Our learning goals for this unit are:</p>
<ul><li><p>Strings, string formatting, and string operations</p></li>
<li><p>The dictionary data type</p></li>
<li><p>Generating randomness programmatically</p></li>
<li><p>Working with files (both local and online)</p></li></ul>
<p>At the end, you'll use those skills to build a procedural text generator that can output novel sentences from a book, movie titles, wise sayings, or whatever you decide. </p>
{% endblock %}