{% extends "_base.html.jinja2" %}
{% block title %}Week 3 Overview{% endblock %}
{% block content %}
<h1>Weekly overview</h1>
<p>It's your third week of learning Python! We're going to be covering some of my personal favorite topics this week.</p>
<p>Our learning goals for this week are:</p>
<ul><li><p>Strings, string formatting, and string operations</p></li>
<li><p>The dictionary data type</p></li>
<li><p>Generating randomness programmatically</p></li>
<li><p>Working with files (both local and online)</p></li></ul>
<p>At the end, you'll use those skills to build a procedural text generator that can output novel sentences from a book, movie titles, wise sayings, or whatever you decide. (I have literally built text generators in every language I know, because it's just so fun to see what comes out).</p>
<p>We recommend this schedule to stay on track:</p>
<ul><li><p>Monday: Join us for live lecture 👩🏻‍🏫</p></li>
<li><p>Tuesday: Work through the strings articles and exercises</p></li>
<li><p>Wednesday: Work through dictionaries, randomness, and files</p></li>
<li><p>Wednesday/Thursday: Join us for project party 🎉 (Wed 9PM PT / Thurs 9AM PT)</p></li>
<li><p>Friday-Saturday: Finish up project</p></li></ul>
{% endblock %}