{% extends "_base.html.jinja2" %}
{% block title %}String operations{% endblock %}
{% block content %}
<h1>String operations</h1>
<p>In Python, both lists and strings are considered types of sequences. That means that many of the operations that work on lists also work on strings.</p>
<p>The <code>len()</code> function reports how long a string is (which is, in the example below, the length of the longest English word ever!):</p>
<pre><code>illness = 'pneumonoultramicroscopicsilicovolcanoconiosis'
longest_word_record_length = len(illness)</code></pre>
<p>The <code>in</code> operator checks to see if a substring is inside a larger string:</p>
<pre><code>if 'pneumo' in illness:
  print("Uh oh, your poor lungs :(")</code></pre>
<p>When used on strings, a <code>for</code> loop iterates through each character:</p>
<pre><code>alphabet = 'abcdefghijklmnopqrstuvwxyz'
for letter in alphabet:
    print(letter)</code></pre>
<h3>Bracket notation</h3>
<p>We can use bracket notation to access single characters inside a string:</p>
<pre><code>illness = 'pneumonoultramicroscopicsilicovolcanoconiosis'

true_start_sound = illness[1]   # Stores 'n'
last_letter = illness[-1]       # Stores 's'</code></pre>
<p>However, strings are different from lists in that they are <strong>immutable</strong>, meaning they cannot be changed after they're created. Using bracket notation to try to change a character will result in an error.</p>
<pre><code>illness[0] = "n"   # 🚫 Error!</code></pre>
<p>We can also use bracket notation to slice parts of the string, from a start to (just before) an end index:</p>
<pre><code>how_small = illness[13:24]      # Stores 'microscopic'
from_where = illness[30:37]     # Stores 'volcano'</code></pre>
<h3>Exercise: Bracket notation</h3>
<p>Use this string variable for the next three questions:</p>
<pre><code>author_name = 'P S Fox'</code></pre>

      <single-question-quiz-element name="string-operations-name-bracket-notation">
        <form class="bg-light rounded p-4">
          <div class="d-flex align-items-center mb-4">
            <h2 class="h5 mb-0" style="font-size: smaller; text-transform: uppercase">🧠 Check Your Understanding</h2>
          </div>
          <div class="quiz-question" data-shuffle>
            <div class="mb-4 fw-bold"><p>How would you use bracket notation to access "P"?</p></div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="quizOptions"
                id="option-cb6d0648-2324-4eea-a341-ea885964a117"
                value="0"
                data-correct="true" />
              <label class="form-check-label" for="option-cb6d0648-2324-4eea-a341-ea885964a117"
                ><p><code>author_name[0]</code></p>
              </label>
              <aside class="alert alert-success mt-2" style="display: none">
                <p>That's right, the first letter is at index 0.</p>
              </aside>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="quizOptions"
                id="option-25fdfaf0-d355-44ae-9b9b-627ec14c6820"
                value="1"
                data-correct="false" />
              <label class="form-check-label" for="option-25fdfaf0-d355-44ae-9b9b-627ec14c6820"
                ><p><code>author_name[1]</code></p>
              </label>
              <aside class="alert alert-danger mt-2" style="display: none">
                <p>That would retrieve the second letter, not the first.</p>
              </aside>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="quizOptions"
                id="option-104e6cfd-a5c2-43d0-aa5c-2e20b01239f5"
                value="2"
                data-correct="false" />
              <label class="form-check-label" for="option-104e6cfd-a5c2-43d0-aa5c-2e20b01239f5"
                ><p><code>author_name[-1]</code></p>
              </label>
              <aside class="alert alert-danger mt-2" style="display: none">
                <p>That would retrieve the last letter, not the first.</p>
              </aside>
            </div>
            <div class="mt-3">
              <button type="submit" class="btn btn-primary" data-action="submit">Submit Answer</button>
              <button type="button" class="btn btn-secondary" style="display: none" data-action="reset">Start over</button>
            </div>
          </div>
        </form>
      </single-question-quiz-element>
      <single-question-quiz-element name="string-operations-name-bracket-notation2">
        <form class="bg-light rounded p-4">
          <div class="d-flex align-items-center mb-4">
            <h2 class="h5 mb-0" style="font-size: smaller; text-transform: uppercase">🧠 Check Your Understanding</h2>
          </div>
          <div class="quiz-question">
            <div class="mb-4 fw-bold"><p>How would you use bracket notation to access "S"?</p></div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="quizOptions"
                id="option-6601d0b2-9076-4d81-9ff7-2f31604e1ba4"
                value="0"
                data-correct="false" />
              <label class="form-check-label" for="option-6601d0b2-9076-4d81-9ff7-2f31604e1ba4"
                ><p><code>author_name[1]</code></p>
              </label>
              <aside class="alert alert-danger mt-2" style="display: none">
                <p>The character at index 1 is the space before "S", not the letter "S".</p>
              </aside>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="quizOptions"
                id="option-3173d34a-f268-46b2-8a96-b8d928f0c8b1"
                value="1"
                data-correct="true" />
              <label class="form-check-label" for="option-3173d34a-f268-46b2-8a96-b8d928f0c8b1"
                ><p><code>author_name[2]</code></p>
              </label>
              <aside class="alert alert-success mt-2" style="display: none"><p>That's right!</p></aside>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="quizOptions"
                id="option-17e9e52e-576f-4c4b-8eac-24e6666aacc5"
                value="2"
                data-correct="false" />
              <label class="form-check-label" for="option-17e9e52e-576f-4c4b-8eac-24e6666aacc5"
                ><p><code>author_name[3]</code></p>
              </label>
              <aside class="alert alert-danger mt-2" style="display: none">
                <p>The character at index 3 is the space after "S", not the letter "S".</p>
              </aside>
            </div>
            <div class="mt-3">
              <button type="submit" class="btn btn-primary" data-action="submit">Submit Answer</button>
              <button type="button" class="btn btn-secondary" style="display: none" data-action="reset">Start over</button>
            </div>
          </div>
        </form>
      </single-question-quiz-element>
      <single-question-quiz-element name="string-operations-name-bracket-notation3">
        <form class="bg-light rounded p-4">
          <div class="d-flex align-items-center mb-4">
            <h2 class="h5 mb-0" style="font-size: smaller; text-transform: uppercase">🧠 Check Your Understanding</h2>
          </div>
          <div class="quiz-question">
            <div class="mb-4 fw-bold"><p>How would you use bracket notation to access "Fox"?</p></div>
            <div class="form-group">
              <input type="text" class="form-control" name="quizAnswer" data-regexcheck="author_name\[4:7?\]" required />
            </div>
            <div class="mt-3">
              <button type="submit" class="btn btn-primary" data-action="submit">Submit Answer</button>
              <button type="button" class="btn btn-secondary" style="display: none" data-action="reset">Start over</button>
            </div>
            <aside class="alert alert-success mt-3" style="display: none" data-correct="true">
              <p>✅ That's correct!</p>
            </aside>
            <aside class="alert alert-danger mt-3" style="display: none" data-correct="false">
              <p>
                ❌ You can slice the last three letters by specifying the start and end indices in bracket notation. The start
                index would be 4 (for "F") and the end index would be 7, because it needs to be just after the last desired
                index (6 for "x"). The whole expression would be <code>author_name[4:7]</code>. You can also leave off the end
                index, and Python will slice until the end of the list, so that'd be <code>author_name[4:]</code>.
              </p>
            </aside>
          </div>
        </form>
      </single-question-quiz-element>

<h3>String methods</h3>
<p>Python offers many methods for string-specific functionality. Since strings are immutable, however, <em>none</em> of the methods change the original string. They either return a new string entirely, or return some other result like a boolean, number, or a list.</p>
<p>For example, the <code>upper()</code> method returns an uppercase version of a string.</p>
<pre><code>request = "Please wash the dishes from your cookie disaster."
demand = request.upper()</code></pre>
<p>When that code runs, <code>request</code> is still "Please wash the dishes from your cookie disaster." but <code>demand</code> stores "PLEASE WASH THE DISHES FROM YOUR COOKIE DISASTER." (Code based on a true story, but I was the one who caused the disaster.. 🍪)</p>
<p>Here are some of the most helpful string methods:</p>
<table class="table table-bordered table-sm">
<thead>
<tr>
<th>
<p>Method</p>
<th>
<p>Description</p>
<tbody>
<tr>
<td>
<p><code>lower()</code></p>
<td>
<p>Returns a copy of the string with all characters converted to lowercase.</p>
<tr>
<td>
<p><code>replace(old, new)</code></p>
<td>
<p>Returns a new string where occurrences of old are replaced with new.</p>
<tr>
<td>
<p><code>find(substring)</code></p>
<td>
<p>Returns the lowest index in the string where substring is found.</p>
<tr>
<td>
<p><code>startswith(prefix)</code></p>
<td>
<p>Returns True if the string starts with the prefix, and False otherwise.</p>
<tr>
<td>
<p><code>endswith(suffix)</code></p>
<td>
<p>Returns True if the strings ends with the suffix, and False otherwise.</p>
<tr>
<td>
<p><code>strip([chars])</code></p>
<td>
<p>Returns a copy of the string with leading and trailing characters removed, defaulting to whitespace characters.</p>
<tr>
<td>
<p><code>split(separator)</code></p>
<td>
<p>Returns a list of substrings in the string, using separator as the delimiter.</p>
<tr>
<td>
<p><code>join(iterable)</code></p>
<td>
<p>Returns a string which is the concatenation of strings in the iterable object.</p>
</table>
<p>More methods are described in the <a target="_blank" href="https://docs.python.org/3/library/stdtypes.html#string-methods">Python documentation</a>.</p>
<p>Remember that these are methods, not functions, so when using them, you always write the variable name first, then the dot, then the method name.</p>


      <single-question-quiz-element name="string-operations-methods-endswith">
        <form class="bg-light rounded p-4">
          <div class="d-flex align-items-center mb-4">
            <h2 class="h5 mb-0" style="font-size: smaller; text-transform: uppercase">🧠 Check Your Understanding</h2>
          </div>
          <div class="quiz-question" data-shuffle>
            <div class="mb-4 fw-bold">
              <p>What expression would tell us if the string variable <code>mystery</code> ends with the letters "ing"?</p>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                name="quizOptions"
                id="option-8e3b6c94-842a-4ad2-9d08-9265d449072c"
                value="0"
                data-correct="false" />
              <label class="form-check-label" for="option-8e3b6c94-842a-4ad2-9d08-9265d449072c"
                ><p><code>mystery.endswith(ing)</code></p>
              </label>
              <aside class="alert alert-danger mt-2" style="display: none">
                <p>
                  ❌ This is almost correct, except <code>ing</code> needs to be in quotes so it is treated as a string instead
                  of a variable name.
                </p>
              </aside>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                name="quizOptions"
                id="option-7263d9ea-6e77-4156-9e7c-362c3e6ab987"
                value="1"
                data-correct="true" />
              <label class="form-check-label" for="option-7263d9ea-6e77-4156-9e7c-362c3e6ab987"
                ><p><code>mystery.endswith("ing")</code></p>
              </label>
              <aside class="alert alert-success mt-2" style="display: none"><p>✅ That's right!</p></aside>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                name="quizOptions"
                id="option-7342b5d9-16cb-455b-a47f-688fe42d1edd"
                value="2"
                data-correct="false" />
              <label class="form-check-label" for="option-7342b5d9-16cb-455b-a47f-688fe42d1edd"
                ><p><code>endswith(mystery, ing)</code></p>
              </label>
              <aside class="alert alert-danger mt-2" style="display: none">
                <p>
                  ❌ Since <code>endswith</code> is a method, it must be called on <code>mystery</code> using dot notation.
                  Plus, <code>ing</code> needs to be in quotes.
                </p>
              </aside>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                name="quizOptions"
                id="option-7d697cbf-03e4-4e06-906b-e3017253d734"
                value="3"
                data-correct="false" />
              <label class="form-check-label" for="option-7d697cbf-03e4-4e06-906b-e3017253d734">
                <p><code>endswith(mystery, "ing")</code></p>
              </label>
              <aside class="alert alert-danger mt-2" style="display: none">
                <p>
                  ❌ Since <code>endswith</code> is a method, it must be called on <code>mystery</code> using dot notation.
                </p>
              </aside>
            </div>
            <div class="mt-3">
              <button type="submit" class="btn btn-primary" data-action="submit">Submit Answer</button>
              <button type="button" class="btn btn-secondary" style="display: none" data-action="reset">Start over</button>
            </div>
          </div>
        </form>
      </single-question-quiz-element>

      
<h3>Splitting and joining</h3>
<p>There are two string methods that I want to spend more time on, because they're just so dang useful, but can also be a little tricky to use: <code>split</code> and <code>join</code>.</p>
<ul><li><p><code>split(separator)</code>: Returns a list of substrings in the string, using separator as the delimiter.</p></li>
<li><p><code>join(iterable)</code>: Returns a string which is the concatenation of strings in the iterable object.</p></li></ul>
<p>The <code>split</code> method is handy whenever you have a string of text with parts separated by a particular character, like a comma, colon, pipe, space, or tab.</p>
<p>For example, we can split a string that stores a comma-separated list of words:</p>
<pre><code>my_groceries = 'apples,bananas,carrots'
grocery_items = my_groceries.split(',')   # Stores ["apples", "bananas", "carrots"]</code></pre>
<p>Now we can iterate through that list - or anything else we can usually do with a list.</p>
<pre><code>for item in grocery_items:
    print(item)</code></pre>
<p>The <code>join</code> method is the opposite: it joins a list of items into a single string, separating each item with the specified separator.</p>
<p>Here's how we can join together a list using a comma as the separator:</p>
<pre><code>address_parts = ["123 Pining St", "Nibbsville", "OH"]
",".join(address_parts) # '123 Pining St, Nibbsville, OH'</code></pre>
<p>We can also use the empty string as the separator, if we just want to mash strings together:</p>
<pre><code>names = ["Gray", "Fox"]
"".join(names)   # 'GrayFox'</code></pre>
<h3>Exercise: Write a poem</h3>
<p>In order to create a string with items separated by new lines, we can specify the escape sequence "\n" as the separator.</p>
<p>Try it out below with your own favorite poem, haiku, or song verse.</p>
<pre><code>poem_lines = ["Forgive me", "they were delicious", "so sweet", "and so cold"]
"\n".join(poem_lines)</code></pre>
{% endblock %}

{% block footer_scripts %}
<script src="https://cdn.jsdelivr.net/npm/single-question-quiz-element@0.1.5/dist/single-question-quiz-element.umd.min.js"></script>
{% endblock %}