{% extends "_base.html.jinja2" %}
{% block title %}Project 3: Text generator{% endblock %}
{% block content %}
<h1>Project 3: Text generator</h1>
<p>In this project, you'll be building a procedural text generator. <strong>Procedural generation</strong> is any way of using algorithms to create data (versus manually creating data), and is commonly used in games and movies - to create organic looking landscapes, intricate mazes, beautiful snowflakes, crowds of people, and fictitious text.</p>
<p>You'll be using a technique called a <strong>Markov chain</strong> that generates text based on the probability of one word coming after another word, which it learns from whatever original data you feed it. You could generate text based on tweets, wise sayings, movie titles, sentences from your favorite author, ...whatever strikes your fancy!</p>
<h3>Instructions</h3>
<p>You'll be using a Python notebook on Google CoLab to develop this project.</p>
<p>To get started, make a copy of the <a target="_blank" href="https://colab.research.google.com/drive/1sKF6SJs0DAd1iEoSAEvDr99quVYkVIDZ?usp=sharing">Project 3 notebook</a> for yourself. The rest of the instructions are in the notebook.</p>
{% endblock %}
