{% extends "_base.html.jinja2" %}
{% block title %}While loops{% endblock %}
{% block content %}
<h1>While loops</h1>
<p>Consider the following code:</p>
<pre><code>print(9 * 1)
print(9 * 2)
print(9 * 3)
print(9 * 4)
print(9 * 5)</code></pre>
<p>This code is repetitive and variable, but the variability is sequential - it just adds one to the right-hand side number each time. In English, we could describe this as "print out the first 5 multiples of 9".</p>
<p>We can simplify this code using a loop. There are a few kinds of loops in Python, and we'll be starting with the most generic and flexible loop, the while loop.</p>
<p>This is the general form of a while loop:</p>
<pre><code>while &lt;condition&gt;:
    &lt;statement&gt;
    &lt;statement&gt;</code></pre>
<p>As long as the condition is true, the statements below it are executed. That condition is the same sort of condition we've been using inside conditionals. However, conditions inside while loops get checked repeatedly, until they're finally false.</p>
<p>We can rewrite the original code using a while loop like so:</p>
<pre><code>multiplier = 1
while multiplier <= 5:
    print(9 * multiplier)
    multiplier += 1</code></pre>
<p>That code is shorter, and more importantly, it would be trivial to modify the code to run for more multiples of 9 or fewer multiples of 9. For example, if we wanted to print out 100 multiples of 9, we could just change our while loop condition to <code>while multiplier <= 100</code>. Without a loop, we would have had to write out each print statement—the loop saves us 95 lines of code!</p>
<h2>Modifying a loop: Example #1</h2>
<p>One way to modify a loop is to change the initial values of the variables involved in the condition. Consider the following code:</p>
<pre><code>multiplier = 3
while multiplier <= 5:
    print(9 * multiplier)
    multiplier += 1</code></pre>


      <single-question-quiz-element name="while-loop1-first-number">
        <form class="bg-light rounded p-4">
          <div class="d-flex align-items-center mb-4">
            <h2 class="h5 mb-0" style="font-size: smaller; text-transform: uppercase">🧠 Check Your Understanding</h1>
          </div>
          <div class="quiz-question">
            <div class="mb-4 fw-bold"><p>What will be the first number displayed?</p></div>
            <div class="form-group">
              <input type="text" class="form-control" name="quizAnswer" data-regexcheck="27" required />
            </div>
            <aside class="alert alert-success mt-3" style="display: none" data-correct="true">
              <p>✅ That's right!</p>
            </aside>
            <aside class="alert alert-danger mt-3" style="display: none" data-correct="false">
              <p>❌ The first number displayed is 27.</p>
            </aside>
            <div class="mt-3">
              <button type="submit" class="btn btn-primary" data-action="submit">Submit answer</button>
              <button type="button" class="btn btn-secondary" style="display: none" data-action="reset">Start over</button>
            </div>
          </div>
        </form>
      </single-question-quiz-element>
      <single-question-quiz-element name="while-loop1-last-number">
        <form class="bg-light rounded p-4">
          <div class="quiz-question">
            <div class="mb-4 fw-bold"><p>What will be the last number displayed?</p></div>
            <div class="form-group">
              <input type="text" class="form-control" name="quizAnswer" data-regexcheck="45" required />
            </div>
            <aside class="alert alert-success mt-3" style="display: none" data-correct="true">
              <p>✅ That's correct!</p>
            </aside>
            <aside class="alert alert-danger mt-3" style="display: none" data-correct="false">
              <p>❌ The last number displayed is 45.</p>
            </aside>
            <div class="mt-3">
              <button type="submit" class="btn btn-primary" data-action="submit">Submit answer</button>
              <button type="button" class="btn btn-secondary" style="display: none" data-action="reset">Start over</button>
            </div>
          </div>
        </form>
      </single-question-quiz-element>
      <single-question-quiz-element name="while-loop1-number-of-iterations">
        <form class="bg-light rounded p-4">
          <div class="quiz-question">
            <div class="mb-4 fw-bold"><p>How many times will this loop iterate?</p></div>
            <div class="form-group">
              <input type="text" class="form-control" name="quizAnswer" data-regexcheck="3" required />
            </div>
            <aside class="alert alert-success mt-3" style="display: none" data-correct="true">
              <p>✅ That's right!</p>
            </aside>
            <aside class="alert alert-danger mt-3" style="display: none" data-correct="false">
              <p>❌ The loop will iterate 3 times.</p>
            </aside>
            <div class="mt-3">
              <button type="submit" class="btn btn-primary" data-action="submit">Submit answer</button>
              <button type="button" class="btn btn-secondary" style="display: none" data-action="reset">Start over</button>
            </div>
          </div>
        </form>
      </single-question-quiz-element>


<h2>Modifying a loop: Example #2</h2>
<p>Another way to affect how a loop executes is to change the condition, so that it becomes false at a different point. Consider this code:</p>
<pre><code>multiplier = 3
while multiplier <= 10:
    print(9 * multiplier)
    multiplier += 1</code></pre>


      <single-question-quiz-element name="while-loop2-first-number">
        <form class="bg-light rounded p-4">
          <div class="d-flex align-items-center mb-4">
            <h2 class="h5 mb-0" style="font-size: smaller; text-transform: uppercase">🧠 Check Your Understanding</h1>
          </div>
          <div class="quiz-question">
            <div class="mb-4 fw-bold"><p>What will be the first number displayed?</p></div>
            <div class="form-group">
              <input type="text" class="form-control" name="quizAnswer" data-regexcheck="27" required />
            </div>
            <aside class="alert alert-success mt-3" style="display: none" data-correct="true"><p>✅ You got it!</p></aside>
            <aside class="alert alert-danger mt-3" style="display: none" data-correct="false">
              <p>❌ The first number displayed is 27.</p>
            </aside>
            <div class="mt-3">
              <button type="submit" class="btn btn-primary" data-action="submit">Submit answer</button>
              <button type="button" class="btn btn-secondary" style="display: none" data-action="reset">Start over</button>
            </div>
          </div>
        </form>
      </single-question-quiz-element>
      <single-question-quiz-element name="while-loop2-last-number">
        <form class="bg-light rounded p-4">
          <div class="quiz-question">
            <div class="mb-4 fw-bold"><p>What will be the last number displayed?</p></div>
            <div class="form-group">
              <input type="text" class="form-control" name="quizAnswer" data-regexcheck="90" required />
            </div>
            <aside class="alert alert-success mt-3" style="display: none" data-correct="true">
              <p>✅ Woot, that's correct!</p>
            </aside>
            <aside class="alert alert-danger mt-3" style="display: none" data-correct="false">
              <p>❌ The last number displayed is 90.</p>
            </aside>
            <div class="mt-3">
              <button type="submit" class="btn btn-primary" data-action="submit">Submit answer</button>
              <button type="button" class="btn btn-secondary" style="display: none" data-action="reset">Start over</button>
            </div>
          </div>
        </form>
      </single-question-quiz-element>
      <single-question-quiz-element name="while-loop2-number-of-iterations">
        <form class="bg-light rounded p-4">
          <div class="quiz-question">
            <div class="mb-4 fw-bold"><p>How many times will this loop iterate?</p></div>
            <div class="form-group">
              <input type="text" class="form-control" name="quizAnswer" data-regexcheck="8" required />
            </div>
            <aside class="alert alert-success mt-3" style="display: none" data-correct="true">
              <p>✅ Yep, that's right!</p>
            </aside>
            <aside class="alert alert-danger mt-3" style="display: none" data-correct="false">
              <p>❌ The loop will iterate 8 times.</p>
            </aside>
            <div class="mt-3">
              <button type="submit" class="btn btn-primary" data-action="submit">Submit answer</button>
              <button type="button" class="btn btn-secondary" style="display: none" data-action="reset">Start over</button>
            </div>
          </div>
        </form>
      </single-question-quiz-element>


<h2>Modifying a loop: Example #3</h2>
<p>Another way to modify a loop is to alter how much the loop variables change between iterations. It's common to add one to a value, but you can add more than one or do any arithmetic operation your heart desires.</p>
<p>Consider this code:</p>
<pre><code>multiplier = 3
while multiplier <= 10:
    print(9 * multiplier)
    multiplier += 2</code></pre>


      <single-question-quiz-element name="while-loop3-first-number">
        <form class="bg-light rounded p-4">
          <div class="d-flex align-items-center mb-4">
            <h2 class="h5 mb-0" style="font-size: smaller; text-transform: uppercase">🧠 Check Your Understanding</h1>
          </div>
          <div class="quiz-question">
            <div class="mb-4 fw-bold"><p>What will be the first number displayed?</p></div>
            <div class="form-group">
              <input type="text" class="form-control" name="quizAnswer" data-regexcheck="27" required />
            </div>
            <aside class="alert alert-success mt-3" style="display: none" data-correct="true">
              <p>✅ Yep, that's correct!</p>
            </aside>
            <aside class="alert alert-danger mt-3" style="display: none" data-correct="false">
              <p>❌ The first number displayed is 27.</p>
            </aside>
            <div class="mt-3">
              <button type="submit" class="btn btn-primary" data-action="submit">Submit answer</button>
              <button type="button" class="btn btn-secondary" style="display: none" data-action="reset">Start over</button>
            </div>
          </div>
        </form>
      </single-question-quiz-element>
      <single-question-quiz-element name="while-loop3-last-number">
        <form class="bg-light rounded p-4">
          <div class="quiz-question">
            <div class="mb-4 fw-bold"><p>What will be the last number displayed?</p></div>
            <div class="form-group">
              <input type="text" class="form-control" name="quizAnswer" data-regexcheck="81" required />
            </div>
            <aside class="alert alert-success mt-3" style="display: none" data-correct="true">
              <p>✅ You figured it out, nice!</p>
            </aside>
            <aside class="alert alert-danger mt-3" style="display: none" data-correct="false">
              <p>❌ The last number displayed is 81.</p>
            </aside>
            <div class="mt-3">
              <button type="submit" class="btn btn-primary" data-action="submit">Submit answer</button>
              <button type="button" class="btn btn-secondary" style="display: none" data-action="reset">Start over</button>
            </div>
          </div>
        </form>
      </single-question-quiz-element>
      <single-question-quiz-element name="while-loop3-number-of-iterations">
        <form class="bg-light rounded p-4">
          <div class="quiz-question">
            <div class="mb-4 fw-bold"><p>How many times will this loop iterate?</p></div>
            <div class="form-group">
              <input type="text" class="form-control" name="quizAnswer" data-regexcheck="4" required />
            </div>
            <aside class="alert alert-success mt-3" style="display: none" data-correct="true">
              <p>✅ You got it!</p>
            </aside>
            <aside class="alert alert-danger mt-3" style="display: none" data-correct="false">
              <p>❌ The loop will iterate 4 times.</p>
            </aside>
            <div class="mt-3">
              <button type="submit" class="btn btn-primary" data-action="submit">Submit answer</button>
              <button type="button" class="btn btn-secondary" style="display: none" data-action="reset">Start over</button>
            </div>
          </div>
        </form>
      </single-question-quiz-element>

      
<h2>Counter variables</h2>
<p>It's very common for loops to use a <strong>counter variable</strong>: a variable whose primary purpose is to count the number of iterations.</p>
<p>Here's an example that counts 5 iterations:</p>
<pre><code>total = 0
counter = 0
while counter < 5:
  total += pow(2, 1)
  counter += 1</code></pre>
<p>Notably, that counter variable starts at 0, not at 1. As a consequence, the loop condition checks that the counter is less than 5, <em>not</em> less than or equal. The loop still runs 5 times - when <code>counter</code> is 0, 1, 2, 3, and 4.</p>
<p>Programmers often start counters at 0 instead of 1, so this is a common pattern, but it may throw you off at first. Whether you start at 0 or 1, make sure that your loop condition is using the appropriate operator. Otherwise, your code may experience the dreaded "off-by-one error". 🙀 Eek! But don't worry, it happens to all of us.</p>
<p>The counter variable can also be used in the loop computation, like in the next example:</p>
<pre><code>total = 0
counter = 0
while counter < 5:
  total += pow(2, counter)
  counter += 1</code></pre>
<h2>Beware of infinite loops</h2>
<p>Loops are a great way to repeat operations in your programs. However, at some point, a loop should stop iterating, so that the program can eventually exit.</p>
<p>Consider this code:</p>
<pre><code>counter = 0
while counter < 5:
    total += pow(2, counter)</code></pre>
<p>That loop starts off with a counter variable initialized to 0, and then it adds a value to the total, and then it keeps doing that... forever! The counter variable is never changed, so <code>counter</code> remains at 0 and the loop condition <code>counter < 5</code> is always true. This is what we call an <strong>infinite loop</strong>.</p>
<p>That loop just needs one line of code to fix it — any line of code that will change the counter variable in such a way that it will eventually not be less than 5.</p>
<p>For example:</p>
<pre><code>counter = 0
while counter < 5:
    total += pow(2, counter)
    counter += 1</code></pre>
<p>I have crashed quite a few browsers in my time with infinite loops, so don't feel bad if you write a few infinite loops while going through these unit's exercises. Just check your loop condition and loop variables, and see what you're missing to make the loop eventually stop.</p>
<h2>The break statement</h2>
<p>To prematurely exit a loop, a <code>break</code> statement can be used. This is helpful if the condition for exiting the loop isn't as straightforward, like you're searching through some data or set of numbers for something that's true.</p>
<p>This example searches through the numbers 100-200, but breaks when it finds the first multiple of 7:</p>
<pre><code>first_multiple = None
counter = 100
while counter < 200:
    if counter % 7 == 0:
        first_multiple = counter
        break
    counter += 1
print(first_multiple)</code></pre>
<p>If it never finds a multiple of 7, then it will eventually exit the loop after 100 iterations, but if it does find it, it will set <code>first_multiple</code> to that value and exit the loop immediately. If you only care about the first time you find something, then it makes sense not to waste the computer's time on looking through the rest of the data.</p>
<p>Now, if you are feeling very brave, it is possible to write loops where the condition is always true, as long as you use a <code>break</code> statement and are confident that the loop will eventually break.</p>
<pre><code>counter = 100
while True:
    if counter % 62 == 0:
        first_multiple = counter
        break
    counter += 1</code></pre>
<p>If your loop never breaks, then uh-oh, you've coded an infinite loop! Proceed cautiously when writing <code>while True</code> loops.</p>
<h2>Using loops in functions</h2>
<p>If a loop is the main computational block of a function, then it commonly will use the function parameters to determine some aspect of its computation.</p>
<p>The example below uses the parameters to determine the start and end of the loop variable values:</p>
<pre><code>def sum_up_squares(start, end):
    counter = start
    total = 0
    while counter <= end:
      total += pow(counter, 2)
      counter += 1
    return total</code></pre>
<p>Then we can call that function with various arguments in order to sum different ranges of squares:</p>
<p><code>sum_up_squares(1, 5) # Returns 55</code></p>
<p><code>sum_up_squares(5, 10) # Returns 355</code></p>
<p>We could also use function parameters to affect the computation done inside a loop or to affect how a counter variable is incremented. Combining functions with loops gives us the power to create reusable, flexible looping computations.</p>
<section class="next-step">
    ➡️ Next up: <a href="/2-loops-&-lists/2-exercise-while-loops.html">Exercise: While Loops</a>
</section>
{% endblock %}

{% block footer_scripts %}
{% include "_quiz-js-include.html" %}
{% endblock %}