{% extends "_base.html.jinja2" %}
{% block title %}Nested lists{% endblock %}
{% block content %}
<h1>Exercise: Nested lists</h1>
<p>Try out iterating through nested lists and computing different things in the exercises below. These are a great practice for this unit's project, as it will involve a lot of nested lists.</p>
<h2>Sum Grid</h2>
<p>Implement <code>sum_grid</code>, a function that returns the sum of all the numbers in <code>grid</code>, a 2-dimensional list of numbers.</p>
<p>📺 Need help getting started? Here's <a target="_blank" href="https://youtu.be/2gubXCUL4rU">a video walkthrough</a> of a similar problem.</p>
<p>🧩 Or, for more guidance in written form, try a <a target="_blank" href="https://pamelafox.github.io/faded-parsons-static/problem.html?name=sum_grid">Parsons Puzzle version</a> first.</p>
<code-exercise-element name="sum-grid" show-tests>def sum_grid(grid):
    """Returns the sum of all the numbers in the given grid, a 2-D list of numbers.

    >>> grid1 = [
    ...     [5, 1, 6],   # 12
    ...     [10, 4, 1],  # 15
    ...     [8, 3, 2]    # 13
    ... ]
    >>> sum_grid(grid1)
    40
    >>> grid2 = [
    ...     [15, 1, 6], # 22
    ...     [10, 4, 0], # 14
    ...     [8, 3, 2]   # 13
    ... ]
    >>> sum_grid(grid2)
    49
    """
    # Initialize a sum to 0
    # Iterate through the grid
    # Iterate through current row
    # Add current value to sum
    # Return sum</code-exercise-element>

<h2>Contains 15 row?</h2>
<p>Implement <code>contains_15row</code>, a function that returns true if any of the rows in <code>grid</code>, a 2-dimension list of numbers, add up to a total of 15.</p>
<p>🧩 For more guidance, try a <a target="_blank" href="https://pamelafox.github.io/faded-parsons-static/problem.html?name=contains_15row">Parsons Puzzle version</a> first.</p>
<code-exercise-element name="contains-15-row" show-tests>def contains_15row(grid):
    """Takes an input of a 2-dimensional list of numbers
        and returns true if any of the rows add up to 15.
    
    >>> grid1 = [
    ...     [5, 1, 6],   # 12
    ...     [10, 4, 1],  # 15!!
    ...     [8, 3, 2]    # 13
    ... ]
    >>> contains_15row(grid1)
    True
    >>> grid2 = [
    ...     [15, 1, 6], # 22
    ...     [10, 4, 0], # 14
    ...     [8, 3, 2]   # 13
    ... ]
    >>> contains_15row(grid2)
    False
    """
    # Iterate through the grid
    # Initialize a sum to 0
    # Iterate through the row
    # Add current value to sum
    # If sum is 15, return true
    # return false otherwise</code-exercise-element>

<section class="next-step">
    ➡️ Next up: <a href="/2-loops-&-lists/11-project-2-photo-filters.html">Project 2: Photo filters</a>
</section>
{% endblock %}
{% block footer_scripts %}
<script src="https://cdn.jsdelivr.net/npm/python-code-exercise-element@0.1.11/dist/code-exercise.umd.min.js"></script>
{% endblock %}
