{% extends "_base.html.jinja2" %}
{% block title %}Project 2: Photo Filters{% endblock %}
{% block content %}
<h1>Project 2: Photo Filters</h1>
<p>In this project, you'll be applying filters to photos, like inversion, flipping, and grayscale- and you'll be writing all those filters yourself!</p>
<p>A photo can be represented in computer memory as a nested list of pixels, so playing with photos is a great way to practice your newfound list knowledge. And, of course, in order to process a nested list, you'll need nested loops, so photo filters involve lots of nested loops. You'll also learn a bit about representing pixels in the RGB color space, if you've never played with RGB before.</p>
<p>One of the reasons that I love playing with graphics when I'm programming is that even the bugs are fun - weird colors, all black images, all sorts of shenanigans. So get ready for some colorful bugs and a lot of learning! :)</p>
<h2>Instructions</h2>
<p>Once again, you'll be using a Python notebook on Google CoLab to develop this project.</p>
<p>To get started, make a copy of the <a target="_blank" href="https://colab.research.google.com/drive/14nnqTX9Rvu3vJdzhTYjPv1lfavayRpOT?usp=sharing">Project 2 notebook</a> for yourself. The rest of the instructions are in the notebook.</p>

<section class="next-step">
    ➡️ Next unit: <a href="/3-strings-&-dictionaries/0-unit-overview.html">Strings & dictionaries</a>
</section>
{% endblock %}