{% extends "_base.html.jinja2" %}
{% block title %}Unit 1: Python Fundamentals{% endblock %}
{% block content %}
<h1>Unit 1: Python Fundamentals</h1>
<p>Welcome to your first unit of learning Python!</p>
<p>Our learning goals for this unit are:</p>
<ul><li><p>Expressions</p></li>
<li><p>Variables</p></li>
<li><p>Functions</p></li>
<li><p>Logical expressions</p></li>
<li><p>Conditionals</p></li></ul>
<p>At the end, you'll combine those skills to make a decision making algorithm.</p>

<section class="next-step">
    ➡️ Next up: <a href="/1-python-fundamentals/1-values-&-expressions.html">Values & Expressions</a>
</section>

{% endblock %}