{% extends "_base.html.jinja2" %}
{% block title %}Algorithms as Decision Makers{% endblock %}
{% block content %}
<h1>Project 1: Algorithms as Decision Makers</h1>
<p>Computer programs make decisions that affect human lives all the time. Banks use algorithms to decide who is eligible for a loan, universities use algorithms to decide which students get on-campus housing, Gmail uses algorithms to decide whether to send an email to the spam folder. Since the fate of individual's lives can depend on decisions made by algorithms, it's very important to think about how to make <em>good</em> decisions.</p>
<p>In this project, you'll build a program that can make a decision about how to prioritize an individual for an opportunity. You'll practice variables, functions, conditionals, and user input, all combined in one program. You'll also figure out how to test this program, both automatically and in the real world.</p>
<h2>Instructions</h2>
<p>You'll be developing this project using a Python notebook in Google CoLab. A Python notebook is a kind of document that combines text blocks and runnable code blocks. You can run each code block separately, or you can run all the code blocks in the notebook in sequence. When you run a code block, the output will be displayed below the block, and when you come back to a notebook after closing it, you'll see the previously generated output. All of the code in the notebook runs in the same Python environment, so a code block will have access to any names that have been assigned in previously run code.</p>
<p>Python notebooks are very popular with the data science and scientific programming community, since they are an easy way to see the steps of an analysis, but they're also generally helpful when learning Python.</p>
<p>To get started, make a copy of the <a target="_blank" href="https://colab.research.google.com/drive/1y_uh8YDUM1v_BRzv3slLyoJsAZ6yjgPI?usp=sharing">Project 1 notebook</a> for yourself. The rest of the instructions are in the notebook.</p>


<section class="next-step">
    ➡️ Next unit: <a href="/2-loops-&-lists/0-unit-overview.html">Loops & lists</a>
</section>
{% endblock %}
