{% extends "_base.html.jinja2" %}
{% block title %}Functions{% endblock %}
{% block content %}
<h1>Functions</h1>
<p>A <strong>function</strong> is a sequence of code that performs a task and can be easily reused. ♻️</p>
<p>We've already used functions in call expressions like:</p>
<pre><code>abs(-100)

pow(2, 10)</code></pre>
<p>A function takes in an input (the <strong>arguments</strong>) and returns an output (the <strong>return value</strong>).</p>
<p>-100 → abs → 100</p>
<p>In the <code>abs</code> expression, there is a single argument of -100 and a return value of 100.</p>
<p>2, 10 → pow → 1024</p>
<p>In the <code>pow</code> expression, there are two arguments of 2 and 10, and a return value of 1024.</p>
<p>Those are all functions provided by Python, however. Many times, we want to create <em>our own</em> functions, to perform some task unique to our program.</p>

      <single-question-quiz-element name="functions-brainstorm">
        <form class="bg-light rounded p-4">
          <div class="d-flex align-items-center mb-4">
            <h2 class="h5 mb-0" style="font-size: smaller; text-transform: uppercase">🤔 Brainstorming Time</h1>
          </div>
          <div class="quiz-question">
            <p class="mb-4 fw-bold"></p>
            <p>If you could create any function, what would your function be able to do? What would be the input/output?</p>
            <div class="form-group">
              <input type="text" class="form-control" name="quizAnswer" />
            </div>
            <div class="mt-3">
              <button type="submit" class="btn btn-primary" data-action="submit">Submit answer</button>
              <button type="button" class="btn btn-secondary" style="display: none" data-action="reset">Start over</button>
            </div>
          </div>
        </form>
      </single-question-quiz-element>

<h2>Defining functions</h2>
<p>The most common way to define functions in Python is with a <code>def</code> statement.</p>
<p>Here's the general template:</p>
<pre><code>def <name>(<parameters>):
    return <return expression></code></pre>
<p>Here's an actual example:</p>
<pre><code>def add_two(num1, num2):
    return num1 + num2</code></pre>
<p>Once defined, we can call the function, just like we call built-in Python functions:</p>
<pre><code>add_two(2, 2)
add_two(18, 69)</code></pre>
<p>Let's break down that function definition statement a little. The first line that declares the name and parameters is called the <strong>function signature</strong>, and all the indented lines below it are the <strong>function body</strong>.</p>
<pre><code>def <name>(<parameters>):      # ← Function signature
    return <return expression> # ← Function body</code></pre>
<pre><code>def add_two(num1, num2):       # ← Function signature
    return num1 + num2         # ← Function body</code></pre>
<p>The Python language is somewhat unique in that it uses indentation to show how lines of code relate to each other. (Other languages use brackets or keywords). That means that the lines in the function body <em>must</em> be indented. It doesn't actually matter how much they're indented - heck, Python will let you get away with indenting them with 200 spaces! However, the standard convention is either 2 spaces or 4 spaces; enough indentation to be visible to someone reading the code, but not so much that lines of code become ridiculously long.</p>
<p>The function body can (and often does) have multiple lines:</p>
<pre><code>def add_two(num1, num2):      # ← Function signature
    result = num1 + num2      # ← Function body
    return result             # ← Function body</code></pre>
<h2>Parameters vs. arguments</h2>
<p>We've now used two different terms to refer to the values that get passed into a function: <strong>parameters</strong> and <strong>arguments</strong>. Well, which is it?? Both!</p>
<p>When we're defining a function, the parameters are the names given to the values that will eventually get passed into a function. The following function accepts two parameters, <code>num1</code> and <code>num2</code>, and the return value sums up those two parameters.</p>
<pre><code>def add_two(num1, num2): 
    return num1 + num2 </code></pre>
<p>However, when we're actually calling that function, we describe the values passed in as the arguments. Below, we pass in two arguments of 18 and 69.</p>
<pre><code>add_two(18, 69)</code></pre>
<p>The difference might seem subtle and overly pedantic, and well, as it turns out, programmers can be pedantic sometimes. 😊</p>
<h2>Return values</h2>
<p>The <code>return</code> keyword returns a value to whoever calls the function. After a return statement is executed, Python exits that function immediately, executing no further code in the function.</p>
<pre><code>def add_two(num1, num2):
    return num1 + num2

result = add_two(2, 4)</code></pre>
<p>After running that code, the variable <code>result</code> holds the return value, 6.</p>
<p>Just like we did with the built-in functions, we can use function calls in arithmetic expressions:</p>
<pre><code>big_sum = add_two(200, 412) + add_two(312, 256)</code></pre>
<p>And also nest calls inside other calls:</p>
<pre><code>huge_sum = add(add(200, 412), add(312, 256))</code></pre>
<h2>Spot the bug! 🐞</h2>
<p>There's something wrong with this code... do you see the problem?</p>
<pre><code>def add_two(num1, num2):
    return result
    result = num1 + num2

result = add_two(2, 4)</code></pre>


      <single-question-quiz-element name="functions-spot-the-bug1">
        <form class="bg-light rounded p-4">
          <div class="d-flex align-items-center mb-4">
            <h2 class="h5 mb-0" style="font-size: smaller; text-transform: uppercase">🧠 Check Your Understanding</h1>
          </div>
          <div class="quiz-question">
            <p class="mb-4 fw-bold"></p>
            <p>Where's the bug?</p>
            <div class="form-group">
              <input type="text" class="form-control" name="quizAnswer" />
            </div>
            <div class="mt-3">
              <button type="submit" class="btn btn-primary" data-action="submit">Reveal answer</button>
              <button type="button" class="btn btn-secondary" style="display: none" data-action="reset">Start over</button>
            </div>
            <aside class="alert alert-secondary mt-3" style="display: none">
              <p>The code after the return statement will not be executed; that line belongs <em>before</em> the return.</p>
            </aside>
          </div>
        </form>
      </single-question-quiz-element>


<h2>Spot the bug! 🐛</h2>
<p>Here's some more buggy code:</p>
<pre><code>def add_two():
    return num1 + num2

result = add_two(2, 4)</code></pre>


      <single-question-quiz-element name="functions-spot-the-bug2">
        <form class="bg-light rounded p-4">
          <div class="d-flex align-items-center mb-4">
            <h2 class="h5 mb-0" style="font-size: smaller; text-transform: uppercase">🧠 Check Your Understanding</h1>
          </div>
          <div class="quiz-question">
            <p class="mb-4 fw-bold"></p>
            <p>Where's the bug?</p>
            <div class="form-group">
              <input type="text" class="form-control" name="quizAnswer" />
            </div>
            <div class="mt-3">
              <button type="submit" class="btn btn-primary" data-action="submit">Reveal answer</button>
              <button type="button" class="btn btn-secondary" style="display: none" data-action="reset">Start over</button>
            </div>
            <aside class="alert alert-secondary mt-3" style="display: none">
              <p>
                The function body is referring to variables that don't seem to exist. Most likely, they should be parameters in
                the function signature.
              </p>
            </aside>
          </div>
        </form>
      </single-question-quiz-element>

<h2>Spot the bug! 🦟</h2>
<p>Here's the last bit of code that's problematic:</p>
<pre><code>def add_two(num1, num2):
    result = num1 + num2

result = add_two(2, 4)</code></pre>


      <single-question-quiz-element name="functions-spot-the-bug3">
        <form class="bg-light rounded p-4">
          <div class="d-flex align-items-center mb-4">
            <h2 class="h5 mb-0" style="font-size: smaller; text-transform: uppercase">🧠 Check Your Understanding</h1>
          </div>
          <div class="quiz-question">
            <p class="mb-4 fw-bold"></p>
            <p>Where's the bug?</p>
            <div class="form-group">
              <input type="text" class="form-control" name="quizAnswer" />
            </div>
            <div class="mt-3">
              <button type="submit" class="btn btn-primary" data-action="submit">Reveal answer</button>
              <button type="button" class="btn btn-secondary" style="display: none" data-action="reset">Start over</button>
            </div>
            <aside class="alert alert-secondary mt-3" style="display: none">
              <p>
                The function body does not return any value. However, the code that calls it tries to use the result of the
                expression. It should have a return statement that returns the sum.
              </p>
            </aside>
          </div>
        </form>
      </single-question-quiz-element>
  
<section class="next-step">
    ➡️ Next up: <a href="/1-python-fundamentals/5-exercise-functions.html">Exercise: Functions</a>
</section>
{% endblock %}

{% block footer_scripts %}
{% include "_quiz-js-include.html" %}
{% endblock %}