{% extends "_base.html.jinja2" %}
{% block title %}Logical expressions{% endblock %}
{% block content %}
<h1>Logical expressions</h1>
<p>In the code and functions that we've seen so far, all the lines of code are executed. But often in programming, we only want to execute code if some condition is true, and otherwise do nothing or execute some other bit of code. The addition of <strong>logic</strong> into our programs allows us to build much more powerful programs, programs that can actually make decisions. To add logic, we must learn:</p>
<ul><li><p><strong>Logical expressions</strong> that evaluate to either true or false.</p></li>
<li><p><strong>Conditionals</strong> (if statements) that specify which code to execute when something is true.</p></li></ul>
<h2>Booleans</h2>
<p>A <strong>Boolean</strong> value is a type of data that is either <code>True</code> or <code>False</code>, and is used frequently in computer science.</p>
<p>As a user, you probably see Booleans all the time. For example, Google Maps uses a Boolean to decide whether to avoid highways in driving directions. (I <em>always</em> avoid them!)</p>
<pre><code>avoid_highways = True</code></pre>
<p>Twitter uses a Boolean to remember where the user allows personalized ads. (I hate ads!)</p>
<pre><code>personalized_ads = False</code></pre>
<aside><p>Booleans are named after George Boole, a self-taught logician. He described a system of logic in an 1854 book, The Laws of Thought, that was edited by his wife Mary Everest Boole, another self-taught logician. According to Mary, George was <a target="_blank" href="https://www.currentscience.ac.in/Volumes/114/12/2570.pdf">inspired by Indian logic systems</a> dating back to 500 BCE. We can actually find the origins of many "modern" computer science concepts in ancient systems of India, Africa, or the Mediterranean.</p></aside>
<p>A <strong>logical expression</strong> is any expression that evaluates to a Boolean value. Logical expressions use comparison operators, logical operators, or a mix of both.</p>
<p>This expression uses a comparison operator, the greater-than operator:</p>
<pre><code>passed_class = grade > 65</code></pre>
<p>The next expression uses a logical operator, the or operator:</p>
<pre><code>wear_jacket = is_raining or is_windy</code></pre>
<h2>Comparison operators</h2>
<p>This table shows all the comparison operators and examples of true expressions using each:</p>
<table class="table table-bordered table-sm">
<thead>
<tr>
<th>
<p>Operator</p>
<th>
<p>Meaning</p>
<th>
<p>True expressions</p>
<tbody>
<tr>
<td>
<p><code>==</code></p>
<td>
<p>Equality</p>
<td>
<p><code>32 == 32</code></p>
<tr>
<td>
<p><code>!=</code></p>
<td>
<p>Inequality</p>
<td>
<p><code>30 != 32</code></p>
<tr>
<td>
<p><code>></code></p>
<td>
<p>Greater than</p>
<td>
<p><code>60 > 32</code></p>
<tr>
<td>
<p><code>>=</code></p>
<td>
<p>Greater than or equal</p>
<td>
<p><code>60 >= 32</code>, <code>32 >= 32</code></p>
<tr>
<td>
<p><code><</code></p>
<td>
<p>Less than</p>
<td>
<p><code>20 < 32</code></p>
<tr>
<td>
<p><code><=</code></p>
<td>
<p>Less than or equal</p>
<td>
<p><code>20 < 32</code>, <code>32 <= 32</code></p>
</table>
<p>⚠️ Beware of a very common mistake: confusing <code>==</code> (equality operator) with <code>=</code> (assignment operator). It's particularly easy to make this mistake since some programming languages <em>do</em> use <code>=</code> as their equality operator. In Python, at least, they are two very different operators, so you need to make sure to use <code>==</code> when you want to check that one value equals another value.</p>
<h2>Logical operators</h2>
<p>This table describes the logical operators:</p>
<table class="table table-bordered table-sm">
<thead>
<tr>
<th>
<p>Operator</p>
<th>
<p>True expressions</p>
<th>
<p>Meaning</p>
<tbody>
<tr>
<td>
<p><code>and</code></p>
<td>
<p><code>4 > 0 and 2 < 4</code></p>
<td>
<p>Evaluates to <code>True</code> if both conditions are true; otherwise evaluates to <code>False.</code></p>
<tr>
<td>
<p><code>or</code></p>
<td>
<p><code>4 > 0 or 2 > 4</code></p>
<td>
<p>Evaluates to <code>True</code> if either condition is true; evaluates to <code>False</code> only if both are false.</p>
<tr>
<td>
<p><code>not</code></p>
<td>
<p><code>not (5 == 0)</code></p>
<td>
<p>Evaluates to <code>True</code> if condition is false; evaluates to <code>False</code> if condition is true.</p>
</table>
<p>One thing to note about <code>or</code> is that it's true even when both conditions are true, which might be different from how we sometimes use "or" in natural language.</p>
<p>There is actually a bit more complexity to <code>and</code>/<code>or</code> that we'll get into later when we discuss "truthiness" and "falsiness", but for now, as long as each expression is <code>True</code> or <code>False</code>, the description above is correct.</p>
<h2>Compound Boolean expressions</h2>
<p>We can mix and match any of the above operators into compound Boolean expression (versus a simple expression that uses only one operator).</p>
<pre><code>may_have_mobility_issues = (age >= 0 and age < 2)  or age > 90</code></pre>
<p>That expression is true if either:</p>
<ul><li><p>it's true that both age is greater than or equal to 0 and age is less than 2</p></li>
<li><p>it's true that age is greater than 90</p></li></ul>
<p>Basically, it's true if someone's a toddler or an elder! (People that are less than 0 years old are either non-existent or happily snuggled in a warm womb 🤰🏽).</p>
<h2>Boolean expressions in functions</h2>
<p>To make a function that returns a Boolean, use a Boolean expression in the return statement. The simplest functions like this just return a Boolean based on the values of the parameters.</p>
<pre><code>def passed_class(grade):
    return grade > 65</code></pre>
<p>Then we'd call the function like so:</p>
<pre><code>passed_class(0)  # Returns: False
passed_class(65) # Returns: False
passed_class(66) # Returns: True</code></pre>
<p>Now consider this example:</p>
<pre><code>def should_wear_jacket(is_rainy, is_windy):
    return is_rainy or is_windy</code></pre>


      <single-question-quiz-element name="logical-expressions-should-wear-jacket">
        <form class="bg-light rounded p-4">
          <div class="d-flex align-items-center mb-4">
            <h2 class="h5 mb-0" style="font-size: smaller; text-transform: uppercase">🧠 Check Your Understanding</h1>
          </div>
          <div class="quiz-question">
            <div class="mb-4 fw-bold"><p>Which of the following function calls would return True?</p></div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                name="quizOptions"
                id="option-b17a2a7d-4a76-466b-ba7b-bfc77e49558f"
                value="0"
                data-correct="false" />
              <label class="form-check-label" for="option-b17a2a7d-4a76-466b-ba7b-bfc77e49558f"
                ><p><code>should_wear_jacket(False, False)</code></p>
              </label>
              <aside class="alert alert-danger mt-2" style="display: none">
                <p>
                  Since the return statement uses <code>or</code> and neither of the arguments are <code>True</code>, this call
                  would return <code>False</code>.
                </p>
              </aside>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                name="quizOptions"
                id="option-52b0c9ef-eac1-438b-bb5e-e99b039932ba"
                value="1"
                data-correct="true" />
              <label class="form-check-label" for="option-52b0c9ef-eac1-438b-bb5e-e99b039932ba"
                ><p><code>should_wear_jacket(True, False)</code></p>
              </label>
              <aside class="alert alert-success mt-2" style="display: none">
                <p>
                  This is one of the calls that would return <code>True</code>, since at least one of the arguments is
                  <code>True</code>.
                </p>
              </aside>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                name="quizOptions"
                id="option-32297451-a7dc-4e36-a534-8797a0219fc7"
                value="2"
                data-correct="true" />
              <label class="form-check-label" for="option-32297451-a7dc-4e36-a534-8797a0219fc7"
                ><p><code>should_wear_jacket(False, True)</code></p>
              </label>
              <aside class="alert alert-success mt-2" style="display: none">
                <p>
                  This is one of the calls that would return <code>True</code>, since at least one of the arguments is
                  <code>True</code>.
                </p>
              </aside>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                name="quizOptions"
                id="option-de04e48b-fde0-42a1-91f2-07394e3201eb"
                value="3"
                data-correct="true" />
              <label class="form-check-label" for="option-de04e48b-fde0-42a1-91f2-07394e3201eb"
                ><p><code>should_wear_jacket(True, True)</code></p>
              </label>
              <aside class="alert alert-success mt-2" style="display: none">
                <p>
                  This is one of the calls that would return <code>True</code>, since at least one of the arguments is
                  <code>True</code>.
                </p>
              </aside>
            </div>
            <div class="mt-3">
              <button type="submit" class="btn btn-primary" data-action="submit">Submit answer</button>
              <button type="button" class="btn btn-secondary" style="display: none" data-action="reset">Start over</button>
            </div>
            <aside class="alert alert-secondary mt-3" style="display: none">
              <p>
                Since the return statement uses an <code>or</code> on the two parameters, one of the passed in arguments must
                be <code>True</code> for the call to return <code>True</code>.
              </p>
            </aside>
          </div>
        </form>
      </single-question-quiz-element>
      
<section class="next-step">
    ➡️ Next up: <a href="/1-python-fundamentals/8-exercise-logical-expressions.html">Exercise: Logical expressions</a>
</section>
{% endblock %}

{% block footer_scripts %}
{% include "_quiz-js-include.html" %}
{% endblock %}