{% extends "_base.html.jinja2" %}
{% block title %}Conditionals{% endblock %}
{% block content %}
<h1>Conditionals</h1>
<p>Now that we know how to write Boolean expressions, we can use them inside <strong>conditional statements</strong> to tell our programs to <em>conditionally</em> execute one block of code versus another.</p>
<h2>Conditional statements</h2>
<p>In Python, conditional statements always start with <code>if</code>. Here's the basic template:</p>
<pre><code>if &lt;condition&gt;:
    &lt;statement&gt;
    &lt;statement&gt;
    ...</code></pre>
<p>If <code>&lt;condition&gt;</code> is true, then the program will execute the statements indented below it. The indentation of the inner statements is <em>required</em> in Python, and indenting incorrectly will result in either a syntax error or a buggy program.</p>
<p>Here's a simple <code>if</code> statement that re-assigns a variable based on a condition:</p>
<pre><code>clothing = "shirt"

if temperature &lt; 32:
    clothing = "jacket"</code></pre>


      <single-question-quiz-element name="if-temperature-jacket">
        <form class="bg-light rounded p-4">
          <div class="d-flex align-items-center mb-4">
            <h2 class="h5 mb-0" style="font-size: smaller; text-transform: uppercase">🧠 Check Your Understanding</h1>
          </div>
          <div class="quiz-question">
            <div class="mb-4 fw-bold">
              <p>In which situations will <code>clothing</code> be assigned to "jacket"?</p>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                name="quizOptions"
                id="option-d7240054-fbe6-437b-a530-c1816614ca8b"
                value="0"
                data-correct="true" />
              <label class="form-check-label" for="option-d7240054-fbe6-437b-a530-c1816614ca8b"
                ><p>when <code>temperature</code> is 0</p>
              </label>
              <aside class="alert alert-success mt-2" style="display: none">
                <p>0 is less than 32, so the statement inside the <code>if</code> would indeed execute.</p>
              </aside>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                name="quizOptions"
                id="option-02f0315f-98df-480f-914c-dcc9038b4f0f"
                value="1"
                data-correct="true" />
              <label class="form-check-label" for="option-02f0315f-98df-480f-914c-dcc9038b4f0f"
                ><p>when <code>temperature</code> is 31</p>
              </label>
              <aside class="alert alert-success mt-2" style="display: none">
                <p>31 is less than 32, so the statement inside the <code>if</code> would indeed execute.</p>
              </aside>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                name="quizOptions"
                id="option-2dcf9ed6-8354-465d-889d-5902bf442fa6"
                value="2"
                data-correct="false" />
              <label class="form-check-label" for="option-2dcf9ed6-8354-465d-889d-5902bf442fa6"
                ><p>when <code>temperature</code> is 32</p>
              </label>
              <aside class="alert alert-danger mt-2" style="display: none">
                <p>32 is <em>not</em> less than 32, so the statement inside the <code>if</code> would <em>not</em> execute.</p>
              </aside>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                name="quizOptions"
                id="option-a23da2e2-99ee-40ac-93eb-e9ec20df99dd"
                value="3"
                data-correct="false" />
              <label class="form-check-label" for="option-a23da2e2-99ee-40ac-93eb-e9ec20df99dd"
                ><p>when <code>temperature</code> is 65</p>
              </label>
              <aside class="alert alert-danger mt-2" style="display: none">
                <p>65 is <em>not</em> less than 32, so the statement inside the <code>if</code> would <em>not</em> execute.</p>
              </aside>
            </div>
            <div class="mt-3">
              <button type="submit" class="btn btn-primary" data-action="submit">Submit Answer</button>
              <button type="button" class="btn btn-secondary" style="display: none" data-action="reset">Start over</button>
            </div>
          </div>
        </form>
      </single-question-quiz-element>
      
<h2>Compound conditionals</h2>
<p>A conditional statement can include any number of <code>elif</code> statements to check other conditions and execute different blocks of code. Other languages use <code>else if</code>, but Python decided that was just too dang long and shortened it to <code>elif</code>. 🤷🏼‍♀️</p>
<p>Here's a template with three conditional paths:</p>
<pre><code>if &gt;condition&lt;:
    &lt;statement&gt;
    ...
elif &lt;condition&gt;:
    &lt;statement&gt;
    ...
elif &lt;condition&gt;:
    &lt;statement&gt;
    ...</code></pre>
<p>Here's an extension of the earlier example with one more path:</p>
<pre><code>clothing = "shirt"

if temperature < 0:
    clothing = "snowsuit"
elif temperature < 32:
    clothing = "jacket"</code></pre>
<p>One way to make sure we understand a conditional is to make a table showing possible values of program state and the result.</p>
<p>For example:</p>
<table class="table table-bordered table-sm">
<thead>
<tr>
<th>
<p>temperature</p>
<th>
<p>clothing</p>
<tbody>
<tr>
<td>
<p>-50</p>
<td>
<p>"snowsuit"</p>
<tr>
<td>
<p>-1</p>
<td>
<p>"snowsuit"</p>
<tr>
<td>
<p>0</p>
<td>
<p>"jacket"</p>
<tr>
<td>
<p>1</p>
<td>
<p>"jacket"</p>
<tr>
<td>
<p>31</p>
<td>
<p>"jacket"</p>
<tr>
<td>
<p>32</p>
<td>
<p>"shirt"</p>
<tr>
<td>
<p>50</p>
<td>
<p>"shirt"</p>
</table>
<p>It's a good idea to be doubly sure of what happens at the boundary conditions- sometimes you might realize, "uh oh! I wanted >=, not >, my bad!". 🙀When writing tests for a function that uses a conditional function, make sure to test those boundary conditions.</p>
<p>Finally, a conditional statement can include an <code>else</code> clause to specify what code should be executed if none of the preceding conditions were true.</p>
<pre><code>if &lt;condition&gt;:
    &lt;statement&gt;
    ...
elif &lt;condition&gt;:
    &lt;statement&gt;
    ...
else &lt;condition&gt;:
    &lt;statement&gt;
    ...</code></pre>
<p>Here's a way to rewrite the earlier example using <code>if</code>/<code>elif</code>/<code>else</code>:</p>
<pre><code>if temperature &lt; 0:
    clothing = "snowsuit"
elif temperature < 32:
    clothing = "jacket"
else:
    clothing = "shirt"</code></pre>
<p>That code would result in the same values for <code>clothing</code> as shown in the table below, but reads more clearly.</p>
<p>In summary, a conditional statement:</p>
<ul><li><p>always starts with an <code>if</code> clause</p></li>
<li><p>can have 0 or more <code>elif</code> clauses</p></li>
<li><p>can optionally end with an <code>else</code> clause</p></li></ul>
<h2>Using conditionals in functions</h2>
<p>A conditional statement could be just one part of a longer function, or it could be the entire function. It's common to write a function that uses a conditional to compare the input parameters and return values based on what was passed in.</p>
<p>For example:</p>
<pre><code>def get_number_sign(num):
    if num &lt; 0:
        sign = "negative"
    elif num &gt; 0:
        sign = "positive"
    else:
        sign = "neutral"
    return sign</code></pre>
<p>We'd call that function like this:</p>
<pre><code>get_number_sign(50)  # Returns: "positive"
get_number_sign(-1)  # Returns: "negative"
get_number_sign(0)   # Returns: "neutral"</code></pre>
<p>We could also end each branch of the conditional with a return, rewriting the above function like so:</p>
<pre><code>def get_number_sign(num):
    if num < 0:
        return "negative"
    elif num > 0:
        return "positive"
    else:
        return "neutral"</code></pre>
<p>That makes it very clear that the function won't be doing anything else besides returning that value, since a return statement exits a function immediately.</p>
<p>There's one more way we might write this function, leaving off the <code>else</code> of the conditional:</p>
<pre><code>def get_number_sign(num):
    if num &lt; 0:
        return "negative"
    elif num &gt; 0:
        return "positive"
    return "neutral"</code></pre>
<p>When that function receives a <code>num</code> of 0, it doesn't execute either of the return statements inside the conditional, since neither condition is true. It continues on, discovers the next statement is a return statement, and executes that statement instead.</p>

<section class="next-step">
    ➡️ Next up: <a href="/1-python-fundamentals/10-exercise-conditionals.html">Exercise: Conditionals</a>
</section>
{% endblock %}

{% block footer_scripts %}
{% include "_quiz-js-include.html" %}
{% endblock %}