{% extends "_base.html.jinja2" %}
{% block title %}Unit 4: Object-Oriented Programming{% endblock %}
{% block content %}
<h1>Unit 4: Object-Oriented Programming</h1>
<p>It's the fourth and final unit! This unit is focused on object-oriented programming, a powerful way to organize the data and functions in programs.</p>
<p>Our learning goals for this unit are:</p>
<ul><li><p>Classes</p></li>
<li><p>Inheritance</p></li>
<li><p>Composition</p></li>
<li><p>Polymorphism</p></li></ul>
<p>At the end, you'll combine those skills to make a quiz on the topic of your choosing.</p>
{% endblock %}