{% extends "_base.html.jinja2" %}
{% block title %}Week 4 Overview{% endblock %}
{% block content %}
<h1>Weekly overview</h1>
<p>It's the fourth and final week! This week is focused on object-oriented programming, a powerful way to organize the data and functions in programs.</p>
<p>Our learning goals for this week are:</p>
<ul><li><p>Classes</p></li>
<li><p>Inheritance</p></li>
<li><p>Composition</p></li>
<li><p>Polymorphism</p></li></ul>
<p>At the end, you'll combine those skills to make a quiz on the topic of your choosing.</p>
<p>To make sure you're ready for the project, we recommend this schedule:</p>
<ul><li><p>Monday: Join us for live lecture 👩🏻‍🏫</p></li>
<li><p>Tuesday: Work through classes and inheritance</p></li>
<li><p>Wednesday: Work through composition and polymorphism</p></li>
<li><p>Wednesday/Thursday: Join us for project party 🎉 (Weds 9pm PT or Thurs 9am PT)</p></li>
<li><p>Friday-Saturday: Finish up project</p></li></ul>
{% endblock %}