{% extends "_base.html.jinja2" %}
{% block title %}Project 4: OOP Quiz{% endblock %}
{% block content %}
<h1>Project 4: OOP Quiz</h1>
<p>For this project, you're going to use object-oriented programming to write a quiz that can handle different kinds of questions - and you'll use it to deliver a quiz on a topic of your choosing.</p>
<p>The code for this project is inspired by many codebases that I've worked on myself: Khan Academy's exercises, Coursera's timed quizzes, Berkeley's online CS exams. All of them have used a slightly different class design, but they've all used the power of OOP to describe the structure of quizzes and the questions inside them.</p>
<p>I look forward to trying out all of your quizzes!</p>
<h3>Instructions</h3>
<p>You'll be using a Python notebook on Google CoLab to develop this project.</p>
<p>To get started, make a copy of the <a target="_blank" href="https://colab.research.google.com/drive/1pYNjZ3l22l6mApQhyRPZVGbdu3dj6en-?usp=sharing">Project 4 notebook</a> for yourself. The rest of the instructions are in the notebook.</p>
{% endblock %}
