{% extends "_base.html.jinja2" %}
{% block title %}Exercise: More on classes{% endblock %}
{% block content %}
<h1>Exercise: More on classes</h1>
<p>These exercises will give you practice with class variables and class methods.</p>
<h2>Missing class variables</h2>
<p>In the first two exercises, the class definitions are missing a class variable. Read the docstring and doctests to determine the name and value of the missing class variable, add it in, and run the doctests after.</p>
<h3>Exercise: StudentGrade</h3>
<p>📺 Need help with this one? Watch a <a target="_blank" href="https://www.youtube.com/watch?v=wFHKyVkn5mQ">video walkthrough</a> of the solution. Then try it out yourself and apply what you learned to the next exercise.</p>
<code-exercise-element name="studentgrade-class" show-tests>class StudentGrade:
  """Represents the grade for a student in a class
  and indicates when a grade is failing.
  For all students, 159 points is considered a failing grade.

  >>> grade1 = StudentGrade("Arfur Artery", 300)
  >>> grade1.is_failing()
  False
  >>> grade2 = StudentGrade("MoMo OhNo", 158)
  >>> grade2.is_failing()
  True
  >>> grade1.failing_grade
  159
  >>> grade2.failing_grade
  159
  >>> StudentGrade.failing_grade
  159
  >>>
  """
  
  def __init__(self, student_name, num_points):
    self.student_name = student_name
    self.num_points = num_points

  def is_failing(self):
    return self.num_points &lt; StudentGrade.failing_grade</code-exercise-element>

<h3>Exercise: Article</h3>
<code-exercise-element name="article-class" show-tests>class Article:
  """Represents an article on an educational website.
  The license for all articles should be "CC-BY-NC-SA".

  >>> article1 = Article("Logic", "Samuel Tarín")
  >>> article1.get_byline()
  'By Samuel Tarín, License: CC-BY-NC-SA'
  >>> article2 = Article("Loops", "Pamela Fox")
  >>> article2.get_byline()
  'By Pamela Fox, License: CC-BY-NC-SA'
  """

  def __init__(self, title, author):
    self.title = title
    self.author = author

  def get_byline(self):
    return f"By {self.author}, License: {self.license}"</code-exercise-element>

<h2>Class methods</h2>
<h3>Exercise: Thneed Factory</h3>
<p>For this exercise, you'll finish the implementation of <code>make_thneed</code>, a class method that can make Thneeds of a given size and a random color.</p>
<p><strong>Hint: </strong>You can use<strong> </strong><code>random.choice(list)</code> to generate a random color from a list of colors.</p>
<p>📺 Need help with this one? Watch the <a target="_blank" href="https://youtu.be/_dB4koJNHL0">video walkthrough</a> of the solution. Then try it out yourself and apply what you learned to the next exercise.</p>
<code-exercise-element name="thneed-factory">import random

class Thneed:
    def __init__(self, color, size):
        self.color = color
        self.size = size

    @classmethod
    def make_thneed(cls, size):
        """
        Returns a new instance of a Thneed with
        a random color and the given size.
        >>> rand_thneed = Thneed.make_thneed("small")
        >>> isinstance(rand_thneed, Thneed)
        True
        >>> rand_thneed.size
        'small'
        >>> isinstance(rand_thneed.color, str)
        True
        """
        # YOUR CODE HERE</code-exercise-element>

<h3>Exercise: Cat adoption</h3>
<p>For this exercise, you'll finish the implementation of <code>adopt_random_cat</code>, a class method that can generate new cats. Just what we need in the world! 🐈‍⬛🐈</p>
<p><strong>Hint: </strong>You can use<strong> </strong><code>random.choice(list)</code> to generate a random name from a list of names and <code>random.randrange(start, stop)</code> to generate a random number of lives.</p>
<code-exercise-element name="cat-adoption" show-tests>import random

class Cat:
    def __init__(self, name, owner, lives=9):
        self.name = name
        self.owner = owner
        self.lives = lives

    @classmethod
    def adopt_random_cat(cls, owner):
        """
        Returns a new instance of a Cat with the given owner,
        a randomly chosen name and a random number of lives.
        >>> randcat = Cat.adopt_random_cat("Ifeoma")
        >>> isinstance(randcat, Cat)
        True
        >>> randcat.owner
        'Ifeoma'
        """
        # YOUR CODE HERE</code-exercise-element>

<section class="next-step">
    ➡️ Next up: <a href="/4-object-oriented-programming/6-inheritance.html">Inheritance</a>
</section>
{% endblock %}
{% block footer_scripts %}
<script src="https://cdn.jsdelivr.net/npm/python-code-exercise-element@0.1.10/dist/code-exercise.umd.min.js"></script>
{% endblock %}
