{% extends "_base.html.jinja2" %}
{% block title %}Week 1 Overview{% endblock %}
{% block content %}
<h1>Weekly overview</h1>
<p>Welcome to your first week of learning Python!</p>
<p>Our learning goals for this week are:</p>
<ul><li><p>Expressions</p></li>
<li><p>Variables</p></li>
<li><p>Functions</p></li>
<li><p>Logical expressions</p></li>
<li><p>Conditionals</p></li></ul>
<p>At the end, you'll combine those skills to make an ethical decision making algorithm.</p>
<p>To make sure you're ready for the project, we recommend this schedule:</p>
<ul><li><p>Monday: Join us for live lecture 👩🏻‍🏫</p></li>
<li><p>Tuesday: Work through expressions, variables, and functions</p></li>
<li><p>Wednesday: Work through conditionals and logical expression</p></li>
<li><p>Thursday: Join us for project party 🎉 (Weds 9pm PST or Thurs 9am PST)</p></li>
<li><p>Friday-Saturday: Finish up project</p></li></ul>
{% endblock %}