{% extends "_base.html.jinja2" %}
{% block title %}Exercise: Dictionaries{% endblock %}
{% block content %}
<h1>Exercise: Dictionaries</h1>
<p>These exercises combine many of the skills and data types you've learned over the last few units, so you may find yourself consulting previous articles or exercises. For example, the first exercise can be solved nicely with f strings and string methods.</p>

<h2>Movie summarizer</h2>
<code-exercise-element name="movie-summarizer" show-tests>def movie_summary(movie):
    """
    Accepts movie, a dictionary with three keys-
    title (string), duration (number), actors (list of strings),
    and returns a string of the form
    "&lt;title&gt; lasts for &lt;duration&gt; minutes. Stars: &lt;actor, ...&gt;"
    
    >>> puff = {
    ...     "title": "Puff the Magic Dragon",
    ...     "duration": 30,
    ...     "actors": ["Puff", "Jackie", "Living Sneezes"]
    ... }
    >>> movie_summary(puff)
    'Puff the Magic Dragon lasts for 30 minutes. Stars: Puff, Jackie, Living Sneezes.'
    >>> arrival = {
    ...     "title": "Arrival",
    ...     "duration": "118",
    ...     "actors": ["Amy Adams", "Jeremy Renner"]
    ... }
    >>> movie_summary(arrival)
    'Arrival lasts for 118 minutes. Stars: Amy Adams, Jeremy Renner.'
    """
    return "" # REPLACE THIS LINE
</code-exercise-element>
<h2>Lists of dicts</h2>
<p>The next exercises deals with a list of dicts, like:</p>
<pre><code>coords = [
   {"x": 1, "y": 2},
   {"x": 5, "y": 8}
]</code></pre>
<p>You've dealt with lists before and you've dealt with dicts before, so you can follow the same rules as long as you remember what sort of data type you're retrieving data from. For example, in a list of dicts, you'd use bracket notation with an index to access the first dict, and then use bracket notation with a key to access values inside the dict.</p>
<h2>Exercise: Book list</h2>
<p>This list stores information about books inside nested dicts:</p>
<pre><code>books = [
  {"title": "Uncanny Valley",
  "author": "Anna Wiener",
  "read": False
  },
  {"title": "Parable of the Sower",
  "author": "Octavia E. Butler",
  "read": True
  }
]</code></pre>


      <single-question-quiz-element name="nested-lists-books-access-first">
        <form class="bg-light rounded p-4">
          <div class="d-flex align-items-center mb-4">
            <h2 class="h5 mb-0" style="font-size: smaller; text-transform: uppercase">🧠 Check Your Understanding</h1>
          </div>
          <div class="quiz-question" data-shuffle>
            <div class="mb-4 fw-bold"><p>What expression would access the title of the first book?</p></div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="quizOptions"
                id="option-8cf133e5-13f7-43ca-b963-38068e122ba9"
                value="0"
                data-correct="true" />
              <label class="form-check-label" for="option-8cf133e5-13f7-43ca-b963-38068e122ba9"
                ><p><code>books[0]["title"]</code></p>
              </label>
              <aside class="alert alert-success mt-2" style="display: none"><p>✅ You got it!</p></aside>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="quizOptions"
                id="option-ae61ae5b-8082-47b4-97fd-3e029e993eca"
                value="1"
                data-correct="false" />
              <label class="form-check-label" for="option-ae61ae5b-8082-47b4-97fd-3e029e993eca"
                ><p><code>books["title"][0]</code></p>
              </label>
              <aside class="alert alert-danger mt-2" style="display: none">
                <p>❌ The outer data type is a list, so the first set of square brackets must contain an index, not a key.</p>
              </aside>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="quizOptions"
                id="option-3becfacb-d816-49ad-be12-a0396678f5d5"
                value="2"
                data-correct="false" />
              <label class="form-check-label" for="option-3becfacb-d816-49ad-be12-a0396678f5d5"
                ><p><code>books[1]["title"]</code></p>
              </label>
              <aside class="alert alert-danger mt-2" style="display: none">
                <p>❌ This would access the title of the <em>second</em> book, since list indices start at 0.</p>
              </aside>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="quizOptions"
                id="option-5154719a-11d8-43d1-8e4c-f86a5e9ed103"
                value="3"
                data-correct="false" />
              <label class="form-check-label" for="option-5154719a-11d8-43d1-8e4c-f86a5e9ed103"
                ><p><code>books["title"][1]</code></p>
              </label>
              <aside class="alert alert-danger mt-2" style="display: none">
                <p>❌ The outer data type is a list, so the first set of square brackets must contain an index, not a key.</p>
              </aside>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="quizOptions"
                id="option-2e62d92d-a41f-494d-96af-1c20b77dda7c"
                value="4"
                data-correct="false" />
              <label class="form-check-label" for="option-2e62d92d-a41f-494d-96af-1c20b77dda7c"
                ><p><code>books[0].title</code></p>
              </label>
              <aside class="alert alert-danger mt-2" style="display: none">
                <p>❌ A dictionary value must be accessed with bracket notation, not dot notation.</p>
              </aside>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="quizOptions"
                id="option-9952f0fa-b1c5-4ed1-b4e6-02ece29e82dc"
                value="5"
                data-correct="false" />
              <label class="form-check-label" for="option-9952f0fa-b1c5-4ed1-b4e6-02ece29e82dc"
                ><p><code>books[1].title</code></p>
              </label>
              <aside class="alert alert-danger mt-2" style="display: none">
                <p>❌ A dictionary value must be accessed with bracket notation, not dot notation.</p>
              </aside>
            </div>
            <div class="mt-3">
              <button type="submit" class="btn btn-primary" data-action="submit">Submit answer</button>
              <button type="button" class="btn btn-secondary" style="display: none" data-action="reset">Start over</button>
            </div>
          </div>
        </form>
      </single-question-quiz-element>

      <single-question-quiz-element name="nested-lists-books-num-keys">
        <form class="bg-light rounded p-4">
          <div class="d-flex align-items-center mb-4">
            <h2 class="h5 mb-0" style="font-size: smaller; text-transform: uppercase">🧠 Check Your Understanding</h1>
          </div>
          <div class="quiz-question" data-shuffle>
            <div class="mb-4 fw-bold"><p>What expression would report how many keys are in the second book dict?</p></div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="quizOptions"
                id="option-f4850a43-fd38-4201-951b-7bdadbd89bc1"
                value="0"
                data-correct="true" />
              <label class="form-check-label" for="option-f4850a43-fd38-4201-951b-7bdadbd89bc1"
                ><p><code>len(books[1])</code></p>
              </label>
              <aside class="alert alert-success mt-2" style="display: none"><p>✅That's right!</p></aside>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="quizOptions"
                id="option-58fd15b9-ab50-49e8-b6ff-1b72f3575eb3"
                value="1"
                data-correct="false" />
              <label class="form-check-label" for="option-58fd15b9-ab50-49e8-b6ff-1b72f3575eb3"
                ><p><code>len(books[0])</code></p>
              </label>
              <aside class="alert alert-danger mt-2" style="display: none">
                <p>
                  ❌ This reports how many keys are in the first dict, not the second dict. It's the same in this case, but it
                  may not always be.
                </p>
              </aside>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="quizOptions"
                id="option-2895ee8a-268a-4c8f-96bf-51946f38c5f1"
                value="2"
                data-correct="false" />
              <label class="form-check-label" for="option-2895ee8a-268a-4c8f-96bf-51946f38c5f1">
                <p><code>len(books)</code></p>
              </label>
              <aside class="alert alert-danger mt-2" style="display: none">
                <p>❌ This reports how many items are in the list.</p>
              </aside>
            </div>
            <div class="mt-3">
              <button type="submit" class="btn btn-primary" data-action="submit">Submit answer</button>
              <button type="button" class="btn btn-secondary" style="display: none" data-action="reset">Start over</button>
            </div>
          </div>
        </form>
      </single-question-quiz-element>
<br>
<p>Now implement <code>count_unread_books</code>, a function that processes a list of that form and returns the number of unread books in the list.</p>
<code-exercise-element name="count-unread-books" show-tests>def count_unread_books(books):
    """ Accepts a list of dicts describing books
    and returns the number of unread books in the list.
    
    >>> books = [{
    ...     "title": "Uncanny Valley",
    ...     "author": "Anna Wiener",
    ...     "read": False
    ...   }, {
    ...     "title": "Parable of the Sower",
    ...     "author": "Octavia E. Butler",
    ...     "read": True
    ...   }]
    >>> count_unread_books(books)
    1
    """
    # Initialize a count to 0
    # Iterate through the books
    # If a book is not read, increment count
    # Return count
</code-exercise-element>

<section class="next-step">
    ➡️ Next up: <a href="/3-strings-&-dictionaries/7-randomness.html">Randomness</a>
</section>
{% endblock %}
{% block footer_scripts %}
{% include "_quiz-js-include.html" %}
{% include "_code-exercise-script.html" %}
{% endblock %}